.tour {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.tour-item {
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px gray;
    background: rgb(228, 226, 226);
}
.body {
    position: relative;
    border-top: 2px solid gray;
}
.body p {
    margin: 0;
}
.status {
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
button {
    margin: 0 5px;
    border: none;
    padding: 2px 10px;
    background: #34D399;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    color: #222;
}
button:hover {
    transform: scale(1.05);
}
.selected {
    color: #fff;
    background: #047857;
}
@media only screen and (min-width:768px) {
    .tour {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:900px) {
    .tour {
        grid-template-columns: repeat(3, 1fr);
    }
}