.banner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.637);

}
.banner img {
    position: relative;
    z-index: -1;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}
.tour-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.img-container {
    height: 250px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.img-container:hover {
    transform: scale(1.02);
}
.img-container img {
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width:768px) {
    .tour-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:900px) {
    .tour-container {
        grid-template-columns: repeat(3, 1fr);
    }
}